.env
chroma_db/
whoosh_index/
*.csv
chemrxiv_papers/
chemrxiv_papers_v2/
chemrxiv_graph_v1.json
chemrxiv_graph_v2.json
pubchem_graph_v1.json
chemrxiv_data_*.json
*.zip
material_safety_data/
material-safety-data-sheets.zip
*.pyc
responses/
